<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinxiongge.model.Manager">
	<resultMap id="managerMap" type="com.jinxiongge.model.Manager">
		<id column="mid" property="mid" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 表名 -->
	<sql id="tableNameSql">
		manager 
	</sql>

	<!-- 用于select查询、insert的公用抽取的列 -->
	<sql id="commonSelectColumnsPrefix">
		mid ,
		username ,
		pwd
	</sql>

	<!-- 按主键查找条件语句 -->
	<sql id="conditionOnlyId">
		mid = #{mid}
	</sql>

	<sql id="mainSql">
		SELECT
		<include refid="commonSelectColumnsPrefix" />
		FROM
		<include refid="tableNameSql" /> 
	</sql>

	<sql id="logincondition">
		<where>
			username = #{username}
		</where>
	</sql>

	<select id="login"  resultMap="managerMap">
		<include refid="mainSql" />
		<include refid="logincondition" />
	</select>


</mapper>